ion-grid, ion-col {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  color: var(--ion-color-primary);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div[scroll-x=true], div[scroll-y=true] {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }
}

div[scroll-x=true] {
  overflow-x: auto;
}

div[scroll-y=true] {
  overflow-y: auto;
}